.Education {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    transition: 0.5s;
    position: relative;
    animation: showUp 0.3s linear;
}

.setonButton {
    z-index: 100;
    position: fixed;
    bottom: 50px;
    left: 5px;
    text-decoration: none;
}

.setonButton Button {
    color: var(--primaryText);
}

.educationMain {
    width: 100%;
    /* min-height: 87vh; */
    /* height: 100%; */
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 10;
    color: var(--primaryText);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.educationMain .half {
    width: 50%;
    /* height: 100%; */
    min-height: 87vh;
    display: flex;
    position: relative;
    justify-content: center;
    transition: 0.3s;
    align-items: center;
}

.educationMain .half:nth-child(1) {
    background-color: var(--illinois5);
    z-index: -2;
}

.educationMain .half:nth-child(1) img{
    transform: translateX(-20%);
    max-width: 50%;
}

.educationMain .half:nth-child(2) {
    background-color: var(--illinois4);
    flex-direction: column;
    z-index: 30;
    box-shadow: var(--primaryText) -2px 2px 2px;
}

.educationMain .half:nth-child(2)::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
    transform: skewX(-11deg) translateX(-20%);
    box-shadow: var(--primaryText) -2px 2px 2px;
    z-index: -1;
    /* box-shadow: black -0.3mm 0.3mm 3mm; */
}

.schoolTitle {
    font-size: calc(23px + 0.5vw);
    transform: translateX(-10px);
    /* font-family: Lora-Bold; */
    transition: 0.1s;
    text-align: center;
}

#gradYear {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-block: 20px;
}
#gradYear div {
    font-family: Lora-Italic;
    font-style: italic;
    font-size: calc(14px + 0.5vw);
    margin-block: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.slides {
    /* display: flex; */
    width: 100%;
    /* height: 50vh; */
    position: relative;
    /* background-color: grey; */
}

.slideSection {
    width: 100%;
    /* transform: translateX(-10px); */
    display: flex;
    flex-direction: column;
    font-family: Lora-Regular;
}

.slideSection .title {
    color: var(--primaryText);
    font-family: Lora-Regular;
    font-size: calc(17px + 0.5vw);
    margin-block: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.slideSection .courses {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 20px;

}

.slideSection .courses .semesterTitle {
    font-size: calc(13px + 0.5vw);
    font-family: Lora-Regular;
    margin-block: 10px;
    text-align: center;
}

.slideSection .courses .courseList {
    display: flex;
    flex-direction: column;
}

.slideSection .courses .course_grade {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-inline: 20px;
}

.slideSection .courses .course {
    font-family: Lora-Italic;
    text-align: center;
    /* width: 33%; */
    padding-block: calc(1vw + 1px);
    margin-inline: 10px;
    font-size: calc(10px + 0.5vw);
    text-decoration: none;
    color: var(--primaryText);
    transition: 0.3s;
    text-align: start;
}

.slideSection .courses .description {
    font-family: Lora-Regular;
    padding: 20px;
    margin-inline: 10px;
    font-size: calc(8px + 0.8vw);
    color: var(--primaryText);
}

.slideSection .courses #grade {
    margin-right: 20px;
    display: flex;
    font-size: calc(8px + 0.8vw);
    justify-content: center;
    align-items: center;
    font-family: Lora-Regular;
}
.slideSection .courses .course:hover {
    font-weight: bold;
}

#seton .half:nth-child(1) {
    background-color: var(--seton1);
}
#seton .half:nth-child(1) img{
    max-width: 50%;
}

#seton .half:nth-child(2) {
    background-color: var(--seton2);
    flex-direction: column;
    z-index: 30;
    color: var(--seton3);
    position: relative;
    justify-content: center;
    align-items: center;
}

#seton .half .slide {
    width: 100%;
    font-family: Lora-Regular;
    color: var(--seton3);
}

#seton .half .slide .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#seton .half .slide .section .sectionTitle {
    font-size: calc(15px + 1vw);
    margin-block: 10px;
    font-family: Lora-Regular;
    margin-bottom: 20px;
}

#seton .half .slide .section .container {
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 1vw);
    justify-content: center;
    align-items: center;
}

#seton .half .slide .section .container div {
    font-family: Lora-Italic;
    margin-block: 8px
}


@media screen and (max-width: 700px) {
    .educationMain {
        display: none;
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .educationMain .half {
        width: 100%;
        min-height: 400px;
        transform: none;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .educationMain .half:nth-child(1) img {
        transform: none;
        width: 30%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .educationMain .half:nth-child(2)::after {
        display: none;
    }

    .educationMain .half:nth-child(2) {
        transform: none;
    }

    .schoolTitle {
        margin-top: 30px;
        width: 80%;
        transform: none;
    }

    #gradYear div{
        width: 80%;
        margin-block: none;
    }

    .setonButton {
        bottom: 10px;
        left: 60px;
    }

    #seton .half:nth-child(1) img{
        max-width: unset;
        width: 70%;
    }
}